body, #profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

body{
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: "Inter";
    font-size: 14px;
}

#profile{
    background-color: hsl(0, 0%, 12%);
    width: 384px;
    height: 75%;
    border-radius: 10px;
}
.description img{
    width: 5rem;
    border-radius: 100%;
}

.description h1 {
    font-size: 24px;
    margin: 24px 0 5px;
}

.description .location{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin: 0;
}

.description .summary{
    margin-top: 24px;
    color: hsl(0, 0%, 100%);
}


.buttons{
    display: flex;
    flex-direction: column;
}

div button{
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    width: 19rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    margin: 8px 0;
    font: 600 14px "Inter";
}


div button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%) ;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 20px;
}
.attribution a { 
    color: hsl(75, 94%, 57%); }